@import 'src/variables.scss';
.wrapper {
	width: 100%;
	margin-top: 24px;
	.content {
		:not(button) span {
			font-style: normal;
			color: $textareaColor;
		}
		.title {
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
		}
		.text {
			font-size: 14px;
			font-weight: 400;
			line-height: 130%;
		}
		.pointTitle {
			font-size: 14px;
			font-weight: 600;
			line-height: 16px;
		}
	}
}
