@import '../../variables.scss';

.content {
	background: $white;
	padding: 24px;
	border-radius: 16px;

	h3 {
		margin: 0;
		font-family: Geologica;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: $mainTextColor;
	}

	.backButton {
		flex-direction: row;
		gap: 12px;
		justify-content: flex-start;
		height: 24px;
	}
}

.cards {
	position: sticky;
	top: $topPostionForSticky;
	height: fit-content;
}
