@import 'src/variables.scss';
.cardText {
	:global {
		.ant-typography-ellipsis {
			span:last-of-type {
				position: none;
			}
		}
	}
	.description {
		position: relative;
		color: $mainTextColor;

		overflow: hidden;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18.2px;

		:global {
			.ant-typography-expand {
				position: relative;
				color: $mainColor;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				z-index: 2;
				margin-inline-start: 0;

				&:hover {
					text-decoration: underline 1px $mainColor;
				}
			}
		}

		&.ellipsis::after {
			position: absolute;
			content: '';
			background: $secondaryTextColor;
			filter: blur(4px);
			width: 101px;
			height: 22px;
			right: 5px;
			z-index: 1;
		}

		&.isLargeDescription {
			color: $mainTextColor;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			:global {
				.ant-typography-expand {
					font-size: 18px;
					line-height: normal;
					font-style: normal;
					font-weight: 600;
				}
			}
			&.ellipsis::after {
				right: 20px;
			}
		}
	}
}
