@import 'src/variables.scss';

.checkCard {
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0px 4px 16px 0px $shadowColor;
    }
    .orderTitleWrapper {
        width: 202px;
        .orderBrandName {
            color: $tertiaryTextColor;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }
    .orderDate {
        width: 192px;
        color: $textareaColor;
    }
    .orderPrice {
        width: 102px;
        color: $textareaColor;
    }
}
