@import 'src/variables.scss';

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	border-radius: 16px;
}

.empty {
	padding: 24px;
	background: $mainBgColor;
	border-radius: 16px;
	height: 360px;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	color: $mainTextColor;
	display: flex;
	justify-content: center;
	align-items: center;
}
