@import 'src/variables.scss';
.wrapper {
	.radioGroup {
		display: flex;
		:global {
			.ant-radio-button-wrapper {
				height: 28px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $mainColor;
				border-radius: 4px;
				border: 1.5px solid $grey;
				padding: 8px 14px;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				color: $textActiveColor;
				&::before {
					width: 0;
					display: none;
				}
			}
			.ant-radio-button-wrapper-checked {
				border-radius: 4px;
				border: 1.5px solid $mainColor;

				&::before {
					background-color: $mainColor;
				}
				&:hover::before {
					background-color: $mainColor;
				}
			}
			.ant-radio-button-wrapper-disabled {
				background-color: $backgroundDisabled;
				color: $textDisabledColor;
			}
		}
	}
}
