@import 'src/variables.scss';

.brandInfo {
	color: $mainTextColor;
	font-size: 14px;
	margin-top: 20px;

	.block {
		border-radius: 16px;
		padding: 24px;
		background: $mainBgColor;
	}

	h3 {
		margin: 0;
		font-size: 24px;
		font-weight: 500;
		font-family: 'Geologica';
	}
	p {
		margin: 0;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
	}
}
