@import '../../../../variables.scss';

.wrapper {
    width: 433px;
    padding: 24px;

    .info {
        span {
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: $mainTextColor;
        }
    }
}
